<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil Engineering </title>

     <!-- Favicon -->
     <link rel="icon" type="image/x-icon" href="../Images/favicon.png">

    <!-- Bootstrap only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/cs_it.css">


</head>

<body>

    <!-- header section starts  -->

    <header class="header1">

        <div class="header-1">

            <a href="/" class="logo"> <i class="fas fa-book"></i> <b>Study</b>Lance </a>


            <i class="fas fa-bars  icon-hide" id="bar"></i>

            <nav class="navbar1" id="navbars">
                <i class="fas fa-times icon-hide" id="crosss"></i>
                <a href="/">HOME</a>
                <a href="/gatePage">GATE</a>
                <a href="/rgpv" >RGPV</a>
                <a href="/donate">DONATE</a>
                <a href="/contactUs">CONTACT US</a>
                <a href="/aboutUs">ABOUT US</a>
            </nav>
        </div>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home-cs" id="home">

        <div class="row1">

            <div class="content1">
                
                <h2><b>Civil Engineering</b></h2>

                <h3> <b>Contents</b></h3>
                <a href="#notes-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Notes</a> <br>
                <a href="#books-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Standard Books</a>
                <br>
                <a href="#pyq-cs" class="content-link"> <i class="fas fa-arrow-right"></i> PYQs and
                    solutions</a> <br>
                <a href="#video-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Video
                    Suggestions</a> <br>

            </div>


            <div class="image1 img-fluid" id="cs-image">
                <img src="../Images/Civil.svg" alt="boy">

            </div>

    </section>

    <!-- home section end  -->

    <!-- Notes Section -->

    <section class="notes-cs" id="notes-cs">

        <h1 id="note-h1"> <i class="fas fa-sticky-note"></i> &nbspNotes </h1>


        <div class="accordian-full">
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Engineering Mathematics
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Engineering Mathematics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1dWVmjL1MjsLvHy1aCZCD3RsXQg6r2xzq/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Engineering Mathematics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1zNjpOxQ1bXu275O-_O3t6nP5MKTGgaG8/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Engineering Mathematics - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.vidyalankar.org/gate/assets/docs/notes/maths.pdf" target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>


                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Structural Analysis
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Structural Analysis
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1YLStJ3sITdRlYHsYJVFybDyqQR94p9v9/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Structural Analysis
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/19FO1wPbfwR3G1t_JaE-8G4NOzvnJB1AJ/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Structural Analysis
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://drive.google.com/file/d/1mMjgRpSMX27KacpP0fN5RKCK8eOvx5Wt/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Structural Analysis - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://vssut.ac.in/lecture_notes/lecture1424715726.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Structural Analysis - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1428730889.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Geotechnical Engineering
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Geotechnical Engineering - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1UtqmW2qc0swuODA-d8sIRG_nj7wFpq3t/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Geotechnical Engineering - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1WBVy7Fouu3gTP7uwlko60gjRCaig5FXE/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Geotechnical Engineering
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1llgvtw2xOJiOqFZZ1voDEhsq-F9G-Mdg/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Geotechnical Engineering - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1428371514.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Geotechnical Engineering - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1424085471.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Environmental Engineering
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Environmental Engineering - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1NwPEMOD8WXW8C8lgmxMVGaj4ivTF4_dd/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Environmental Engineering - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1TvVGKTQuLTlW4upMeqHvnR1DEg5FVy6D/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Environmental Engineering
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1g4IvJYaE6xoExQuNuZ2rtWuOHWfmPp7q/view"
                                    target="_blank">
                                    &ensp;Download </a></i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Environmental Engineering - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1427132416.pdf"
                                    target="_blank">&ensp;
                                    Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            <div class="accordion-body">
                                Digital Notes - Environmental Engineering - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1424353637.pdf"
                                        target="_blank">&ensp;
                                        Download </a> </i>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Transportation
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Transportation - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1bb5dJAw7tKecLynQHwiMlrifEQxHaanA/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Transportation - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/13vJJ9urpjinI3ric1fov5GxdB4Rmdq1M/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - Transportation
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1sqpcipt_UilDo9cgd41CgyRI-G7pn_B1/view"
                                        target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Transportation - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1423182729.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Transportation - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1428280600.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                        </div>
                    </div>



                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Fluid Mechanics
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Fluid Mechanics - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1gP2gJmdXT7lNqbeDIdYzzOIeL2sELUgJ/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Fluid Mechanics - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1jKrRUCynMrNTPfAzKQDYcyvR6fCUVU4H/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - Fluid Mechanics
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1bHR7Ye7p0pDEQNem501xZqwkLIfDDqgf/view"
                                        target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Fluid Mechanics - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525499900.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Fluid Mechanics - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525499954.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Fluid Mechanics - 3
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525499985.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Fluid Mechanics - 4
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525500028.pdf" target="_blank">
                                        &ensp;Download </a></i>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Hydrology and Irrigation
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Hydrology and Irrigation - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1PZhvM9YIrSC6VslX2a6S4ShEjbP4u7i9/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Hydrology and Irrigation - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/12JUNc-NEz3hbAddubpR3acfIKtYvFeIw/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - Hydrology and Irrigation
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1yhv3oWvKasY2vllpD2u4POYG2UOvbvSd/view"
                                        target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Hydrology and Irrigation - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525502082.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Hydrology and Irrigation - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525502052.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Fluid Mechanics - 3
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525502018.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Fluid Mechanics - 4
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1525501972.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Surveying
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Surveying - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1JUR1bcdE4He_iRbhrkFKBoxkUWlET8eD/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Surveying - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1H7atuFRx4MzKCKJNHguY3YLVxaKgV395/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - Surveying
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1toixdk90ZXuKPXBaxuzobLz_mKc-RRFe/view"
                                        target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Surveying
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1625220282.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>

                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Strength Of Materials
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Strength Of Materialss
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/17YDxgkhBzhAzBUqJ-SWU2lson-XqFF8w/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - Strength Of Materials
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1UnSgWAQ8H24gZYHIpVU1HuZQ0a367nl6/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Strength Of Materials
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1509230765.pdf" target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>

                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                RCC And Prestressed Concrete
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - RCC And Prestressed Concrete
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1hBqSnlwOCcqgTz9EPXdLg-w9iQVOw1u1/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - RCC And Prestressed Concrete
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1gQQzZZnqrvs8DcmKcmUulfcF2mwVNIkx/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - RCC And Prestressed Concrete - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1529931604.pdf" target="_blank">
                                        &ensp;Download </a></i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - RCC And Prestressed Concrete - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1424356121.pdf" target="_blank">
                                        &ensp;Download </a></i>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                Steel Structures
                            </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Steel Structures - 1
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://drive.google.com/file/d/1NhtzFVQzhZeTwIGoQjQ4QHgNSFF2GK51/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes MadeEasy - Steel Structures - 2
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1fDW7YFPWn_KDJMABf3JaavpJCMXsXxbk/view"
                                        target="_blank">
                                        &ensp;Download </a>
                                </i>
                            </div>
                            <div class="accordion-body">
                                Hand Written Notes Ace Academy - Steel Structures
                                <i class="fas fa-arrow-circle-down"> <a
                                        href=" https://drive.google.com/file/d/1uy40I8LqI2FgE7Mg0h-6XG9zNjg_kUOn/view"
                                        target="_blank">
                                        &ensp;Download </a></i>
                            </div>
                            <div class="accordion-body">
                                Digital Notes - Steel Structures
                                <i class="fas fa-arrow-circle-down"> <a
                                        href="https://vssut.ac.in/lecture_notes/lecture1428640965.pdf" target="_blank">
                                        &ensp;Download </a> </i>
                            </div>
                        </div>
                    </div>

                </div>

    </section>

    <!-- notes Section end  -->



    <!-- Books section start -->


    <section class="notes-cs" id="books-cs">

        <h1 id="note-h1"> <i class="fas fa-book-open"></i> &nbspStandard Books </h1>


        <div class="accordian-full">
            <div class="accordion" id="accordionExample2">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThirteen">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                            Structural Analysis
                        </button>
                    </h2>

                    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Structural Analysis - G Pandit , S. Gupta
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://competitioncivil.files.wordpress.com/2016/05/structural_analysis_by_pandit_and_gupta.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Structural Analysis - Alan Williams
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=https://drive.google.com/file/d/1ENhHQYKsyqbM86fj7oErN9Ppz98cfMm_/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Structural Analysis - B. C. PUNMIA

                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://civilcafe.weebly.com/uploads/2/8/9/8/28985467/smts-2_theory_of_structures_by_b.c._punmia_text.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            Geotechnical Engineering Books
                        </button>
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Geotechnical Engineering - Gopal Ranjan
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://lnct.ac.in/wp-content/uploads/2020/03/Soil-mechanics-gopal-ranjan-and-rao.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Geotechnical Engineering - Braja M Das
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1X0WG5e6h162pRqAkm2RJ6OymiWrnW5xf/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>


                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading15">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            Environmental Engineering Books
                        </button>
                    </h2>
                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Environmental Engineering - Sk Garg
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.sasurieengg.com/e-course-material/CIVIL/III-Year%20Sem%205/CE6503%20Environmental%20Engineering%20I.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Environmental Engineering - B.C Punmia
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1pxNYMm9AFgXUCmpDat_aDqAdj685gmWz/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading16">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            Transportation Engineering Books
                        </button>
                    </h2>

                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            transportation engineering - a.k. upadhyay
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://content.kopykitab.com/ebooks/2014/10/3689/sample/sample_3689.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Highway Engineering - Dr.L.R.Kadiyali
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://home.ustc.edu.cn/~louwenqi/reference_books_tools/Computer-Organization-and-Architecture-9th-Edition-William-Stallings2012.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Transportation Engineering - S.C.Saxena & S. Arora
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.stpetershyd.com/Academics/btech/civil/syllabus/IV-I/Transportation%20Engineering-II.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading17">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                            Fluid Mechanics Books
                        </button>
                    </h2>
                    <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Fluid Mechanics - P.N. MODI. S.M. SETH.
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://cnj.atu.edu.iq/wp-content/uploads/2020/03/HYDRAULICS-AND-FLUID-MECHANICS-Dr.-P.N.-MODI-By-www.EasyEngineering.net_.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            fluid mechanics - sk som
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.learnengineers.com/wp-content/uploads/2019/04/fluid-mechanics-s-k-som-biswas.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Fluid mechanics - P.S Barna
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1l0T6VTEVAAP8QycgEbuRdt-lpyAU5AdK/view"
                                    target="_blank">&ensp; Download </a> </i>
                        </div>
                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading18">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                            Hydrology and Irrigation Books
                        </button>
                    </h2>
                    <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Hydrology and Irrigation - k Subramanya
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1dkObWnldd-uAwEtD7iJBEFsU2dpbTbyd/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hydrology and Irrigation - B.C Punima , Ashok Kumar , Arun Kumar Jain
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/10yYQnP3o4wNNQjIj4PhdlhjGtqzQ6wQa/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hydrology and Irrigation - Asawa, G.L
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://nitsri.ac.in/Department/Civil%20Engineering/M.Tech_Scheme_WRE_2021.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading19">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                            Surveying Books
                        </button>
                    </h2>
                    <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Surveying - T.P Kanetkar & S.V Kulkarni
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1GCsJG37aOWnKAY-KmiLjbma5Gny-Lged/view"
                                    target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                        <div class="accordion-body">
                            Surveying - Charles D.Gilani & Paul.R
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1pIt4jBUqSHKUsFuCURie3QW8qp7Y3Oz5/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Surveying Problem and Solution - F.A Shephered
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1mf-9Qp80ESzk7YTPIuNQtIhvQae-qgGa/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading20">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                            Strength Of Materials Books
                        </button>
                    </h2>
                    <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Strength Of Materials - R Subramanian
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1kYDsRRT57_bl_A0aNfxaB4cl1BkTNlce/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Fundamentals od Strength of Materials - M.L Gambhir
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1tqeLTUtb00e_hR2N4qh_drLBw0Y7kgl6/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading21">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                            RCC And Prestressed Concrete Books
                        </button>
                    </h2>
                    <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            RCC And Prestressed Concrete - N Subramanian
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1hRn_CEewkA8ktQ2PpVtJzuMy7xGxb6bR/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>


                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading22">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                            Engineering Mathematics Books
                        </button>
                    </h2>
                    <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Higher Engineering Mathematics - B. S. Grewal
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1izo2y516LG7Yiq9fIcSL9HeIHBuzLcvV/view"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Essential Engineering Mathematics - Michael Batty
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://index-of.co.uk/Physics/Essential%20Engineering%20Mathematics.pdf"
                                    target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading23">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                            Steel Structures Books
                        </button>
                    </h2>
                    <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Steel Structures - S.S Bhavikatti
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/14vXuSn8FS0AKFDam1pItlpP-pf7T8lLG/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Steel Structures - Karuna Moy Ghosh
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1k5EGGL4CRch-KTfnNRc2JP5NXGIP7CJ-/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </section>



    <!--  PYQs and solution -->

    <section class="notes-cs" id="pyq-cs">

        <h1 id="note-h1"> <i class="fas fa-question"></i> &nbspGATE PYQ's and solutions </h1>

        <!-- <div class="table-responsive" id="tables"> -->

        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>YEAR</p>
                </div>
                <div class="table-cell">
                    <p>ORIGINAL QUESTION PAPERS</p>
                </div>
                <div class="table-cell last-cell">
                    <p>SOLUTIONS & ANSWER KEYS</p>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2021</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2021/ce1_2021.pdf" target="_blank"> 2021 Set
                        1 Paper</a> <br>
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2021/ce2_2021.pdf" target="_blank"> 2021 Set
                        2 Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1PI2yV-gucOyi9__C1A_QZzpO03gNNkWj?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2020</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2020/ce1_2020.pdf" target="_blank">2020 Set
                        1 </a>
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2020/ce_2020.pdf" target="_blank">2020 Set 2
                    </a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1V67sNxgsTQVWHT6HIfMaUUeiV0dGhM3W?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2019</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2019/ce1_2019.pdf" target="_blank">2019
                        Paper - 1</a>
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2019/ce2_2019.pdf" target="_blank">2019
                        Paper - 2</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1ZPSHyXZLrOgcYoPFv-PcEUnJpYpHO6o5?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2018</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2018/ce1_2018.pdf" target="_blank">2018
                        Paper - 1</a>
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2018/ce2_2018.pdf" target="_blank">2018
                        Paper - 2</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/10CjZXvJ988Bpv1kd2Qea1I3E2tx6_Jeq?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2017</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2017/ce1_2017.pdf" target="_blank">2017
                        Set 1 Paper</a> <br>
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2017/ce2_2017.pdf" target="_blank">2017
                        Set 2 Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1-l4LrSJ5f_R9dLk1oQUj5opBQKJcT6ay?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2016</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2016/ce_2016.pdf">2016 Paper set 1 & 2 </a>
                    <br>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1S438Za2q6kcWHU3jV-qm0wcKkbqGNMHX?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>

                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2015</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2015/ce_2015.pdf">2015 Paper set 1 & 2 </a>
                    <br>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1VQ7C61v80n0LCDTb2gQ4u-GAWrPfaZXs?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>

                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2014</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2014/ce_2014.pdf">2014 Paper set 1 & 2
                    </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1aFzWqTCXi1Cu5igQozHtUG6tU5A6HmX9?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>

            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2013</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2013/ce_2013.pdf" target="_blank">2013 Paper
                    </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1r1q7TOA_lutXZHHsBFOeFqSBsvEc1g5U?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2012</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2012/ce_2012.pdf" target="_blank">2012 Paper
                    </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1Cjl8Yxd1kyYTy-elrJYyKEHt2Z7E-ygX?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2011</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2011/ce_2011.pdf" target="_blank">2011 Paper
                    </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1eMpOdcyLCNSSDpsiXBF6EPEvTj1QXkk9?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


        </div>
    </section>

    <!-- Video Suggestion starts -->

    <!-- <section class="notes-cs" id="video-cs"> -->
    <section class="video-cs notes-cs" id="video-cs">

        <!-- <h1 class="heading"> <span>Video Suggestions</span> </h1> -->
        <h1 id="note-h1"> <i class="fas fa-book-open"></i> &nbspVideo Suggestions </h1>

        <div class="swiper video-cs-slider">

            <div class="swiper-wrapper">


                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/codeWithHarry.jpg" alt="codeWithHarry">
                    </div>
                    <div class="content">
                        <h3> Code With Harry</h3>
                        <div class="topics">For coding techniques and Programming languages</div>
                        <a href="https://www.youtube.com/c/CodeWithHarry" target="_blank" class="btn">Explore</a>
                    </div>
                </div>
                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/GA-csit.jpg" alt="Gate Academy CS-IT">
                    </div>
                    <div class="content">
                        <h3>Gate Academy CS-IT</h3>
                        <div class="topics">For all Subjects </div>
                        <a href="https://www.youtube.com/channel/UCNGPqc8IajHf8yUnFtFJ4Vg" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/gateSmasher.jpg" alt="gateSmashers">
                    </div>
                    <div class="content">
                        <h3>Gate Smashers</h3>
                        <div class="topics">For all Subjects </div>
                        <a href="https://www.youtube.com/c/GateSmashers" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/GFG.jpg" alt="GFG">
                    </div>
                    <div class="content">
                        <h3>Geeks For Geeks</h3>
                        <div class="topics">For coding techniques and Programming concepts </div>
                        <a href="https://www.youtube.com/c/GeeksforGeeksVideos" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/UnAca-cse.jpg" alt="unacademy gate">
                    </div>
                    <div class="content">
                        <h3>Unacademy Computer Science</h3>
                        <div class="topics"> For all Subjects </div>
                        <a href="https://www.youtube.com/c/UnacademyComputerScience" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/neso.jpg" alt="neso Academy">
                    </div>
                    <div class="content">
                        <h3>Neso Academy</h3>
                        <div class="topics">For all Subjects including programming concepts </div>
                        <a href="https://www.youtube.com/c/nesoacademy" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/knowledgeGATE.jpg" alt="knowledgeGATE">
                    </div>
                    <div class="content">
                        <h3>Knowledge GATE</h3>
                        <div class="topics">For all Subjects</div>
                        <a href="https://www.youtube.com/c/KNOWLEDGEGATE_kg" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/jennylect.jpg" alt="jennylect">
                    </div>
                    <div class="content">
                        <h3>Jenny's lectures CS/IT</h3>
                        <div class="topics">For all Subjects</div>
                        <a href="https://www.youtube.com/c/JennyslecturesCSITNETJRF" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

 <!-- Footer section starts -->
 <section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Quick Links</h3>
            <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="/gatePage"> <i class="fas fa-arrow-right"></i> Gate </a>
            <a href="/rgpv"> <i class="fas fa-arrow-right"></i> RGPV </a>
            <a href="/donate"> <i class="fas fa-arrow-right"></i> Donate </a>
            <a href="/contactUs"> <i class="fas fa-arrow-right"></i> Contact Us</a>
            <a href="/aboutUs"> <i class="fas fa-arrow-right"></i> About Us </a>
        </div>

        <div class="box">
            <h3>Go to Other Course</h3>
            <a href="/cs-it"> <i class="fas fa-arrow-right"></i> CS IT </a>
            <a href="/eee"> <i class="fas fa-arrow-right"></i> EEE </a>
            <a href="/ece"> <i class="fas fa-arrow-right"></i> ECE</a>
            <a href="/ce"> <i class="fas fa-arrow-right"></i> CE </a>
            <a href="/me"> <i class="fas fa-arrow-right"></i> ME </a>
            <a href="/che"> <i class="fas fa-arrow-right"></i> ChE </a>
        </div>
    </div>
</section>

<!-- footer section ends -->

    <!-- JavaScript Bundle Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>


    <!-- Swiper js -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/home.js"></script>
</body>

</html>