<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elec-Comm-Engg </title>

     <!-- Favicon -->
     <link rel="icon" type="image/x-icon" href="../Images/favicon.png">

    <!-- Bootstrap only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/cs_it.css">


</head>

<body>

    <!-- header section starts  -->

    <header class="header1">

        <div class="header-1">

            <a href="/" class="logo"> <i class="fas fa-book"></i> <b>Study</b>Lance </a>


            <i class="fas fa-bars  icon-hide" id="bar"></i>

            <nav class="navbar1" id="navbars">
                <i class="fas fa-times icon-hide" id="crosss"></i>
                <a href="/">HOME</a>
                <a href="/gatePage">GATE</a>
                <a href="/rgpv" id="nav-rgpv">RGPV</a>
                <a href="/donate">DONATE</a>
                <a href="/contactUs">CONTACT US</a>
                <a href="/aboutUs">ABOUT US</a>
            </nav>
        </div>

    </header>

    <!-- header section ends -->


    <!-- home section starts  -->

    <section class="home-cs" id="home">

        <div class="row1">

            <div class="content1" id="heading1">
               
                <h2> <b>Electronics & Communication Engineering </b></h2>

                <h3> <b>Contents</b></h3>
                <a href="#notes-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Notes</a> <br>
                <a href="#books-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Standard Books</a> <br>
                <a href="#pyq-cs" class="content-link"> <i class="fas fa-arrow-right"></i> PYQs and solutions</a> <br>
                <a href="#video-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Video Suggestions</a> <br>

            </div>


            <div class="image1 img-fluid" id="cs-image">
                <img src="../Images/elec-comm.svg " alt="boy">

            </div>

    </section>

    <!-- home section end  -->

    <!-- Notes Section -->

    <section class="notes-cs" id="notes-cs">

        <h1 id="note-h1"> <i class="fas fa-sticky-note"></i> &nbspNotes </h1>


        <div class="accordian-full">
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Networks, Signals and Systems
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            HandWritten Notes by MadeEasy - Networks

                            <!-- <div class="download-btn"> -->
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1UDgMVzyA5-xaPA61bizAZTxstEewJGQ5/view"
                                    target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                        <div class="accordion-body">
                            HandWritten Notes by MadeEasy - Signals and Systems
                            <!-- <div class="download-btn"> -->
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1aLV6LDeVb4PVDPZnNYSlwJ4Co8VItBTy/view"
                                    target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Networks
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.gate2016.info/download.php#https://drive.google.com/file/d/0B2D2Vl5_6vK1cVZtX1RKZ2FVR0E/view?usp=sharing"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Signals and Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.gate2016.info/download.php#https://drive.google.com/file/d/0B2D2Vl5_6vK1cnhPTEcySE94Yjg/view?usp=sharing"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Electronic Devices
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Electronic Devices
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1zpny7k66Ewmp_se7HrfiLvktPJ0W3Pcs/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Electronic Devices
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1CghRJBnYxxksshbEAmXh9ZKhEx22bYSZ/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electronic Devices - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://mrcet.com/downloads/digital_notes/CSE/III%20Year/COMPILER%20DESIGN%20NOTES.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electronic Devices - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.svecw.edu.in/Docs%5CCSECDLNotes2013.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Analog Circuits

                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Analog Circuits

                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1cUuHMR8b3g18hV20qddyZrXPaJA_w6Ef/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Analog Circuits
                            Notes
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1q0uwn6VlBe-2JM0rs3taLrvi-RvTckAm/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Analog Circuits
                            - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.svecw.edu.in/Docs%5CCSECNLNotes2013.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Analog Circuits
                            - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.iare.ac.in/sites/default/files/lecture_notes/CN%20_LECTURE_NOTES.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Digital Circuits
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Digital Circuits
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1nYIKFibLSd-Rphr_p_hsER5I8P7fz5lj/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Digital Circuits
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1eB5dTrVsi23KpwMSXmRB2Ih_oFsOBrIf/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Digital Circuits - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://mrcet.com/downloads/digital_notes/IT/R18A1201%20COA.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Digital Circuits - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.svecw.edu.in/Docs%5CITIIBTechIISemLecCOA.pdf" target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Digital Circuits - 3
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://ccsuniversity.ac.in/bridge-library/pdf/btech-COMPUTER-ORGANIZATION-(R17A0510)-All.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Control Systems
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Control Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1TOozw3GDDoeUWiIuXp5oQoba2RmD-LtR/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Control Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1sIHplDBXesEK-prEBtu0vNTWg21bXGGW/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Control Systems - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.geeksforgeeks.org/data-structures/" target="_blank">&ensp;
                                    Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Control Systems - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.iare.ac.in/sites/default/files/lecture_notes/IARE_DS_LECTURE_NOTES_2.pdf"
                                    target="_blank">&ensp;
                                    Download </a> </i>
                        </div>
                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Communications

                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Communications

                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://drive.google.com/file/d/16HB0l2szSrm6SVGUC_b3AZjcsf7TTGbr/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Communications

                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1lNAuF-iV5XSHdGlDh6r3Dv5v-QV_lC9d/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Communications
                            - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://mrcet.com/downloads/digital_notes/IT/Database%20Management%20Systems.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Communications - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.svecw.edu.in/Docs%5CITIIBTechIISemLecDBMS.pdf" target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Electromagnetics
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Electromagnetics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://drive.google.com/file/d/1zJeJNcDhSrmGMOVBKe_7u5rJztKPAhk9/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electromagnetics - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1fzMabVswjdlKl8pa0nx2LCEIHbHC-lIq/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electromagnetics - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1428551222.pdf" target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Analog and Digital Electronics
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Analog and Digital Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/16bLIsZBqBt8HPFA5TwtPokcgUfpswUCh/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Analog and Digital Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1ju5OfNcsg75jK0rrDxmrADfLZEo8tUQO/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Analog and Digital Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://mrcet.com/downloads/digital_notes/IT/DIGITAL%20LOGIC%20DESIGN%20(R17A0461).pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Power Electronics
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes - Power Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/15FTWH0oAmF9r7GYtnoKSIIPfzjZT3aO5/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Power Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://drive.google.com/file/d/15k36Ixc8vA3Sk6TG4lS6i5aMBp56wAoA/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Power Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/15OiThOVC1l6G19oeVRbpdYut1cmvjeUQ/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Power Electronics - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://home.iitk.ac.in/~arlal/book/mth202.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Power Electronics - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://mrcet.com/downloads/digital_notes/CSE/II%20Year/DISCRETE%20MATHEMATICS%20NOTES.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Engineering Mathematics
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Engineering Mathematics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1dWVmjL1MjsLvHy1aCZCD3RsXQg6r2xzq/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Engineering Mathematics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1zNjpOxQ1bXu275O-_O3t6nP5MKTGgaG8/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Engineering Mathematics - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.vidyalankar.org/gate/assets/docs/notes/maths.pdf" target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                    </div>
                </div>


    </section>

    <!-- notes Section end  -->



    <!-- Books section start -->


    <section class="notes-cs" id="books-cs">

        <h1 id="note-h1"> <i class="fas fa-book-open"></i> &nbspStandard Books </h1>


        <div class="accordian-full">
            <div class="accordion" id="accordionExample2">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThirteen">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                            Networks, Signals And Systems Books
                        </button>
                    </h2>

                    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Signals and systems by Alan V. Oppenheim, Alan S. Willsky, with. S. Hamid Nawab
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://eee.guc.edu.eg/Courses/Communications/COMM401%20Signal%20&%20System%20Theory/Alan%20V.%20Oppenheim,%20Alan%20S.%20Willsky,%20with%20S.%20Hamid-Signals%20and%20Systems-Prentice%20Hall%20(1996).pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Signal Processing & Linear Systems By BP Lathi ›
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://pce-fet.com/common/library/books/19/5189_[B._P._Lathi]_Signal_Processing_and_Linear_Systems(b-ok.org).pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            signal and system by schaum series
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://people.disim.univaq.it/~costanzo.manes/EDU_stuff/Theory%20and%20Problems%20of%20Signals%20&%20Systems_Hsu_Schaum95.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            Electronic Devices Books
                        </button>
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Electronic Devices by K. lal kishore
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1IKCG1-24e6HwwXZFlNON8AkkrYyYHJY8/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>


                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading15">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            Analog Circuits Books
                        </button>
                    </h2>
                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Analog Circuits by Dr.S.SRINIVASA RAO, Mr K.MALLIKARJUNA LINGAM
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://mrcet.com/downloads/digital_notes/EEE/AE%20DIGITAL%20NOTES.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Electronics devices and circuits J B Gupta
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://content.kopykitab.com/ebooks/2014/10/4272/sample/sample_4272.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            analog electronics by ramakant gayakwad pdf
                            <i class="fas fa-arrow-circle-down"> <a href="http://fmcet.in/ECE/EC6404_uw.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading16">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            Digital Circuits Books
                        </button>
                    </h2>

                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Digital Circuits by A.Anand Kumar
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1U08V91XzyxJDY7vs5ctnGL-u3Fk5JOr4/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Circuits by Prof. Santanu Chattopadhyay
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.jcboseust.ac.in/electronics/images/e_re/mtech/asic_2.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading17">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                            Control Systems Books
                        </button>
                    </h2>
                    <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Control Systems by I.J Nagrath , M.Gopal
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1Z2NTF-xTfaI85oYjMiiQ-7uWv6XdfvKa/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Control Systems by N.C Jagan
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1qgfKP21Nj0l82ZRbQhUwEUrTa9Msn5-b/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Control Systems by Norman N.Nise
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1GZUMRFDt75qXkCYUQrwa0VqTEaHmnsBy/view"
                                    target="_blank">&ensp; Download </a>
                            </i>
                        </div>
                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading18">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                            Communications Books
                        </button>
                    </h2>
                    <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Digital Communication by Bernard sklar
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1l4jz_qwVHi0AKPdrwwNOrte5e0dYR2Dd/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Principle of Communications by Rodger E.Ziemer
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1NtV44WCRaMWajt9UHVQ6zAAFfiNDNk9G/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading19">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                            Electromagnetics Books
                        </button>
                    </h2>
                    <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Fundamentals of Engineering Electromagnetics by Rajeen Bansal
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1MNq8sNOaxEoitTYXwIePxiNfCYcnvkzY/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Electromagnetics by william hayt
                            <i class="fas fa-arrow-circle-down"> <a href="http://www.uop.edu.pk/ocontents/EMT.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Electromagnetics by Joseph Edminister
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://skshubhamkumar.files.wordpress.com/2015/04/elecshaum.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading20">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                            Analog And Digital Electronics Books
                        </button>
                    </h2>
                    <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Analog And Digital Electronics by B.P Lathi
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1Arf4nDfXKOx-b7QZcc1VqG2i1gQ4C3JG/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Design by Morris Mano
                            <i class="fas fa-arrow-circle-down"> <a href="http://e4uhu.com/down/Logic/5e.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>


                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading22">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                            Power Electronics Books
                        </button>
                    </h2>
                    <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Power Electronics by Issa Batarseh & Ahmed Harb
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1NbAfSCUI3kFwOeLozK81RZe4m6DI9ZEE/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Power Electronics by MUHAMMAD H. RASHID.
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://site.iugaza.edu.ps/malramlawi/files/RASHID_Power_Electronics_Handbook.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading23">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                            Engineering Mathematics Books
                        </button>
                    </h2>
                    <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Higher Engineering Mathematics by B. S. Grewal
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1izo2y516LG7Yiq9fIcSL9HeIHBuzLcvV/view"
                                    target="_blank">
                                    &ensp;Download </a></i>
                        </div>
                        <div class="accordion-body">
                            Essential Engineering Mathematics by Michael Batty
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://index-of.co.uk/Physics/Essential%20Engineering%20Mathematics.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>

    </section>



    <!--  PYQs and solution -->

    <section class="notes-cs" id="pyq-cs">

        <h1 id="note-h1"> <i class="fas fa-question"></i> &nbspGATE PYQ's and solutions </h1>

        <!-- <div class="table-responsive" id="tables"> -->

        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>YEAR</p>
                </div>
                <div class="table-cell">
                    <p>ORIGINAL QUESTION PAPERS</p>
                </div>
                <div class="table-cell last-cell">
                    <p>SOLUTIONS & ANSWER KEYS</p>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2021</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2021/ec_2021.pdf" target="_blank">
                        2021 Set 1 Paper</a> <br>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1UB9Ke5L4P6EcQg0vwSLrJ8abx36njOmZ?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>

                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2020</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/120V7DtuvYfdfNGYd0fEZ2L6UwjGvR2Fe/view"
                        target="_blank">2020
                        Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1Xf2eE-g-vDCh2VERaQVlIRZMUsJFc38l?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2019</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1IUXNzwHkDw4RjInh8A2fFnqE8sxiMnqO/view"
                        target="_blank">2019
                        Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1F-PuINjfMvDdISZJBhqzXKJvzWfxZxHH?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2018</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1DEkRfqtIZS42A_ChRELSnZAGGlbN4jf1/view"
                        target="_blank">2018
                        Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1Xd0-5sOUxMAkO1Enwx_fVNg3U7pGUqEp?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2017</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1yvd2U5f7swI7hgtnLA-HoA4byIcUL-xZ/view"
                        target="_blank">2017
                        Set 1 Paper</a> <br>
                    <a href="https://drive.google.com/file/d/1CHPDyom-ASjcT7S5zJPy-b2Oe7CojR3M/view"
                        target="_blank">2017
                        Set 2 Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1lJ1KMRFzQ4ZW3mlboZIkuekLZApro2uP?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2016</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1HeYkGm6iCaFcGZXaB14rnKfR43S5WEis/view"
                        target="_blank">2016 Set 1 Paper </a> <br>
                    <a href="https://drive.google.com/file/d/171E51PYSEu-B7XTIIp4DT9DPqPndFudJ/view"
                        target="_blank">2016 Set 2 Paper </a> <br>
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2016/ec_2016.pdf" target="_blank">2016 Set 3
                        Paper </a> <br>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/16QvRlkGSv3Qj1Rj8Cta02eOxeJFv3uVE?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2015</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2015/ec_2015.pdf" target="_blank">2015
                        Set 1 , 2 & 3 Paper </a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/16QvRlkGSv3Qj1Rj8Cta02eOxeJFv3uVE?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2014</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1YH0x02VYD9Nxih9lqWqrM61SBDOK4klC/view"
                        target="_blank">2014
                        Paper set - 1 </a><br>
                    <a href="https://drive.google.com/file/d/1im_2IbZLc1BtthBw1nTCYzzPsYo8L7jG/view"
                        target="_blank">2014
                        Paper set - 2 </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1tCH4oty2LLChgJLBlGUCsnHqhlLZCddm?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2013</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2013/ec_2013.pdf" target="_blank">2013 Paper
                        set</a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/10IhnGyQdxWUDmdveEXma8Y5sGzVGqmkn?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2012</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/16ctgpZ4FLiogZuuBMJc4CsTQshVDCgbI/view"
                        target="_blank">2012
                        Paper </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1tzRQN-nqK25zn0LOjIAKaEAzyOBtk-k1?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2011</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2013/ec_2013.pdf" target="_blank">2011
                        Paper </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/196WuFLqT--xtTW-eFEvRv9qMUN6H-6lb?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>



        </div>
    </section>

    <!-- Video Suggestion starts -->

    <!-- <section class="notes-cs" id="video-cs"> -->
    <section class="video-cs notes-cs" id="video-cs">

        <!-- <h1 class="heading"> <span>Video Suggestions</span> </h1> -->
        <h1 id="note-h1"> <i class="fas fa-book-open"></i> &nbspVideo Suggestions </h1>

        <div class="swiper video-cs-slider">

            <div class="swiper-wrapper">


                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/codeWithHarry.jpg" alt="codeWithHarry">
                    </div>
                    <div class="content">
                        <h3> Code With Harry</h3>
                        <div class="topics">For coding techniques and Programming languages</div>
                        <a href="https://www.youtube.com/c/CodeWithHarry" target="_blank" class="btn">Explore</a>
                    </div>
                </div>
                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/GA-csit.jpg" alt="Gate Academy CS-IT">
                    </div>
                    <div class="content">
                        <h3>Gate Academy CS-IT</h3>
                        <div class="topics">For all Subjects </div>
                        <a href="https://www.youtube.com/channel/UCNGPqc8IajHf8yUnFtFJ4Vg" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/gateSmasher.jpg" alt="gateSmashers">
                    </div>
                    <div class="content">
                        <h3>Gate Smashers</h3>
                        <div class="topics">For all Subjects </div>
                        <a href="https://www.youtube.com/c/GateSmashers" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/GFG.jpg" alt="GFG">
                    </div>
                    <div class="content">
                        <h3>Geeks For Geeks</h3>
                        <div class="topics">For coding techniques and Programming concepts </div>
                        <a href="https://www.youtube.com/c/GeeksforGeeksVideos" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/UnAca-cse.jpg" alt="unacademy gate">
                    </div>
                    <div class="content">
                        <h3>Unacademy Computer Science</h3>
                        <div class="topics"> For all Subjects </div>
                        <a href="https://www.youtube.com/c/UnacademyComputerScience" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/neso.jpg" alt="neso Academy">
                    </div>
                    <div class="content">
                        <h3>Neso Academy</h3>
                        <div class="topics">For all Subjects including programming concepts </div>
                        <a href="https://www.youtube.com/c/nesoacademy" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/knowledgeGATE.jpg" alt="knowledgeGATE">
                    </div>
                    <div class="content">
                        <h3>Knowledge GATE</h3>
                        <div class="topics">For all Subjects</div>
                        <a href="https://www.youtube.com/c/KNOWLEDGEGATE_kg" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/jennylect.jpg" alt="jennylect">
                    </div>
                    <div class="content">
                        <h3>Jenny's lectures CS/IT</h3>
                        <div class="topics">For all Subjects</div>
                        <a href="https://www.youtube.com/c/JennyslecturesCSITNETJRF" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

 <!-- Footer section starts -->
 <section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Quick Links</h3>
            <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="/gatePage"> <i class="fas fa-arrow-right"></i> Gate </a>
            <a href="/rgpv"> <i class="fas fa-arrow-right"></i> RGPV </a>
            <a href="/donate"> <i class="fas fa-arrow-right"></i> Donate </a>
            <a href="/contactUs"> <i class="fas fa-arrow-right"></i> Contact Us</a>
            <a href="/aboutUs"> <i class="fas fa-arrow-right"></i> About Us </a>
        </div>

        <div class="box">
            <h3>Go to Other Course</h3>
            <a href="/cs-it"> <i class="fas fa-arrow-right"></i> CS IT </a>
            <a href="/eee"> <i class="fas fa-arrow-right"></i> EEE </a>
            <a href="/ece"> <i class="fas fa-arrow-right"></i> ECE</a>
            <a href="/ce"> <i class="fas fa-arrow-right"></i> CE </a>
            <a href="/me"> <i class="fas fa-arrow-right"></i> ME </a>
            <a href="/che"> <i class="fas fa-arrow-right"></i> ChE </a>
        </div>
    </div>
</section>

<!-- footer section ends -->








    <!-- JavaScript Bundle Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>


    <!-- Swiper js -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="../js/home.js"></script>
</body>

</html>