<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTRICAL-ENG </title>

     <!-- Favicon -->
     <link rel="icon" type="image/x-icon" href="../Images/favicon.png">
     
    <!-- Bootstrap only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/cs_it.css">


</head>

<body>

    <!-- header section starts  -->

    <header class="header1">

        <div class="header-1">

            <a href="/" class="logo"> <i class="fas fa-book"></i> <b>Study</b>Lance </a>


            <i class="fas fa-bars  icon-hide" id="bar"></i>

            <nav class="navbar1" id="navbars">
                <i class="fas fa-times icon-hide" id="crosss"></i>
                <a href="/">HOME</a>
                <a href="/gatePage">GATE</a>
                <a href="/rgpv" id="nav-rgpv">RGPV</a>
                <a href="/donate">DONATE</a>
                <a href="/contactUs">CONTACT US</a>
                <a href="/aboutUs">ABOUT US</a>
            </nav>
        </div>

    </header>

    <!-- header section ends -->


    <!-- home section starts  -->

    <section class="home-cs" id="home">

        <div class="row1">

            <div class="content1" id="heading1">
               
                <h2> <b>Electrical & Electronics Engineering </b></h2>

                <h3> <b>Contents</b></h3>
                <a href="#notes-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Notes</a> <br>
                <a href="#books-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Standard Books</a> <br>
                <a href="#pyq-cs" class="content-link"> <i class="fas fa-arrow-right"></i> PYQs and solutions</a> <br>
                <a href="#video-cs" class="content-link"> <i class="fas fa-arrow-right"></i> Video Suggestions</a> <br>

            </div>


            <div class="image1 img-fluid" id="cs-image">
                <img src="../Images/electronics.svg" alt="boy">

            </div>

    </section>


    <!-- home section end  -->

    <!-- Notes Section -->

    <section class="notes-cs" id="notes-cs">

        <h1 id="note-h1"> <i class="fas fa-sticky-note"></i> &nbspNotes </h1>


        <div class="accordian-full">
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Electromagnetic Fields
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Electromagnetic Fields
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1xudPgyedqBKcoYVqiFcXWfjkcn6FvNyR/view">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Electromagnetic Fields
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1jmm8FMHpZol8FBFYm-3t_HiN_nrbkZ0Q/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electromagnetic Fields - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://vssut.ac.in/lecture_notes/lecture1423903135.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electromagnetic Fields - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://www.svecw.edu.in/Docs%5CCSECDLNotes2013.pdf" target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Signals and Systems

                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Signals and Systems

                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/12DmO3MKfdqQUp7oeqZIFut1GulV0VYEE/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Signals and Systems
                            Notes
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1o6YhcBdJbionZCVyL6ZHSd7_r_OK6Ze8/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Signals and Systems
                            - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1423813255.pdf" target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Signals and Systems
                            - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://users.metu.edu.tr/kamisli/lecture_notes/ee301_lectures.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Electrical Machines
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Electrical Machines
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1zpny7k66Ewmp_se7HrfiLvktPJ0W3Pcs/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Electrical Machines
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/11y64u9BgB_waGcZzoeff9eLBfNk9RrBc/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes -Electrical Machines - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1424353251.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Electrical Machines - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1424353332.pdf" target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Power Systems
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Power Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/17KCNQ_YEMTWuELE61DO2ORkWs-CPoOfK/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Power Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1EArCqUtM8nuILzxK0ZsQ1V2XfHxWn--J/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Power Systems - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1423184334.pdf"
                                    target="_blank">&ensp; Download </a>
                            </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Power Systems - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1424265031.pdf"
                                    target="_blank">&ensp;
                                    Download </a> </i>
                        </div>
                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Control Systems
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Control Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1AZpw0MpZyMBItDlmyiLF5E9OpNEe3s44/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Control Systems
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1QnkdpQciHCMdXKAWErGpzBC2nLVU-szx/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Control Systems - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1423904331.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Control Systems - 2
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1450172554.pdf">
                                    &ensp;Download </a>
                            </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Electrical and Electronic Measurements
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Electrical and Electronic Measurements
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1EgleL55bWtNn7TUczpID-l4LnkkKkFFn/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Electrical and Electronic Measurements
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1GuGFKakgYFsYJrDTtNtTGuOthiW0PqMZ/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                        <div class="accordion-body">
                            Digital Notes - Electrical and Electronic Measurements - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1423813026.pdf" target="_blank">
                                    &ensp;Download </a>
                            </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Analog and Digital Electronics
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Analog and Digital Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/19aGRAID0NC8c3PNvGkEX6KnP6uL7Ca-A/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Analog Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1rMUPyha2MryG19puuAHEjky8C49Z8rzF/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Digital Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/18gUS3V8sH_SVpfRIUOVx-LUyGhW916FL/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Analog and Digital Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1427135266.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Power Electronics
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Power Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1yziOws7WP3DgRoeUXI2z2O447ae3_oeQ/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Power Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1n0882OTDf__2JSWTNphx_dp0gIZSwmAs/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes - Power Electronics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://vssut.ac.in/lecture_notes/lecture1424354515.pdf" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>


                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Engineering Mathematics
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Hand Written Notes MadeEasy - Engineering Mathematics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1dWVmjL1MjsLvHy1aCZCD3RsXQg6r2xzq/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Hand Written Notes Ace Academy - Engineering Mathematics
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1zNjpOxQ1bXu275O-_O3t6nP5MKTGgaG8/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Digital Notes - Engineering Mathematics - 1
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.vidyalankar.org/gate/assets/docs/notes/maths.pdf" target="_blank">
                                    &ensp;Download
                                </a> </i>
                        </div>
                    </div>
                </div>


    </section>

    <!-- notes Section end  -->



    <!-- Books section start -->


    <section class="notes-cs" id="books-cs">

        <h1 id="note-h1"> <i class="fas fa-book-open"></i> &nbspStandard Books </h1>


        <div class="accordian-full">
            <div class="accordion" id="accordionExample2">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThirteen">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                            Electromagnetic Fields Books
                        </button>
                    </h2>

                    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Electromagnetic Field - A.V Bakshi & U.A Bakshi
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1pS02l5JoRzxOQh_p-Wdw5Y1yzgCObfto/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Electromagnetic Field Theory - Prof S P Ghosh, Prof Lipika Datta

                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://docs.google.com/document/d/170b7AgnVmfQVkdKWhxxHZVSuPWThANtHzpznADjbE7A/edit"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            Signals And Systems Books
                        </button>
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Signals And Systems - Tarun kumar Rawat
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1zEQoIiuKM5ZZhXvD-awxIAqKDF2VAl-c/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Signals and Systems - A.V. Oppenheim, A.S. Willsky and I.T. Young
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1sfEvtO5bdzT1V7RHU-aPGP0f1F-EQjCr/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>


                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading15">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            Electrical Machines Books
                        </button>
                    </h2>
                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Electrical Machine - Dr. P. S. Bhimbra
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1gxhA2fQDH9dpZtbJzeMpgXfQ540G9t2R/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Electric-Machines - D.P.KothariI.J.Nagrath
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://1filedownload.com/wp-content/uploads/2019/08/Electric-Machines-By-D.P.KothariI.J.Nagrath.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading16">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            Power Systems Books
                        </button>
                    </h2>

                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">

                            Power system - jb gupta
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxiYzY1aDZyfGd4OjFiYTA2N2UyMjQ3ZWNiODk"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Power system book pdf - ashfaq hussain
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://content.kopykitab.com/ebooks/2017/03/10371/sample/sample_10371.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading17">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                            Control Systems Books
                        </button>
                    </h2>
                    <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">

                            Control System - B.S.Manke
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://www.scribd.com/document/424587383/bs-manke" target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Control Systems - Frank Owen
                            <i class="fas fa-arrow-circle-down"> <a href="http://www.aoengr.com/SampleBook.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading18">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                            Electrical And Electronic Measurements Books
                        </button>
                    </h2>
                    <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Electrical And Electronic Measurements - A.K.Sawhney
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1BJ1y1Wr5DwxM5Yie2ow-3EA9TFr7wUrJ/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Electrical And Electronic Measurements - U.A Bakshi , A.V Bakshi & K.A Bakshi
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1TrLAlAujF8t8wedDwTf6XtsJUlDuwaYP/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading19">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                            Analog And Digital Electronics Books
                        </button>
                    </h2>
                    <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="heading19"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Analog And Digital Electronics - U.A Bakshi & A.P Godse
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1Y0DSK9pTTX9IhPc_sslACiWnDtNnN8mF/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Analog And Digital Electronics - B.P Lathi
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1_UaKDhcaku-8rWMJlStQypKsSYzq9R2X/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Analog And Digital Electronics - Simon Haykin
                            <i class="fas fa-arrow-circle-down"> <a
                                    href=" https://drive.google.com/file/d/1199IWKUZlXhGkbl2rz4TXlPKh_iwWPux/view "
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading20">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                            Power Electronics Books
                        </button>
                    </h2>
                    <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Digital Design - Morris Mano
                            <i class="fas fa-arrow-circle-down"> <a href="http://e4uhu.com/down/Logic/5e.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            DIGITAL DESIGN - JOHN F. WAKERLY
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://ebook.pldworld.com/_eBook/DIGITAL%20DESIGN%20PRINCIPLES%20&%20PRACTICES%203rd%20Edition/digital_design-third_edition-1.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading22">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                            Engineering Mathematics Books
                        </button>
                    </h2>
                    <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            Higher Engineering Mathematics - B. S. Grewal
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="https://drive.google.com/file/d/1izo2y516LG7Yiq9fIcSL9HeIHBuzLcvV/view"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>
                        <div class="accordion-body">
                            Essential Engineering Mathematics - Michael Batty
                            <i class="fas fa-arrow-circle-down"> <a
                                    href="http://index-of.co.uk/Physics/Essential%20Engineering%20Mathematics.pdf"
                                    target="_blank">
                                    &ensp;Download </a> </i>
                        </div>

                    </div>
                </div>

    </section>



    <!--  PYQs and solution -->

    <section class="notes-cs" id="pyq-cs">

        <h1 id="note-h1"> <i class="fas fa-question"></i> &nbspGATE PYQ's and solutions </h1>

        <!-- <div class="table-responsive" id="tables"> -->

        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>YEAR</p>
                </div>
                <div class="table-cell">
                    <p>ORIGINAL QUESTION PAPERS</p>
                </div>
                <div class="table-cell last-cell">
                    <p>SOLUTION & ANSWERS</p>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2021</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2021/ee_2021.pdf" target="_blank">
                        2021 Paper</a> <br>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1VorhHJPaYoVkhz5yLLHzjCXuRrzDJQsO?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>

                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2020</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2020/ee_2020.pdf" target="_blank">2020
                        Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1VcEmfhOFgI_CubQHZwE-BgawDISl-GA5?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>

            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2019</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2019/ee_2019.pdf" target="_blank">2019
                        Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1UG4bAYi12eEkssuTAW7IbsldfTqUUZhJ?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2018</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2018/ee_2018.pdf" target="_blank">2018
                        Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1xiQbTBouz99kl6h8vWBMOaPKT6RrFvDM?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2017</p>
                </div>
                <div class="table-cell">
                    <a href="https://gate.iitkgp.ac.in/documents/gatepapers/2017/ee1_2017.pdf" target="_blank">2017
                        Set 1 Paper</a> <br>
                    <a href="https://drive.google.com/file/d/1TsGgy7m2ZLLUk3Rx-8EEzzGjUvpTT3up/view"
                        target="_blank">2017
                        Set 2 Paper</a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1qTm4cF6W-YffENd1tZL2sEmJswA2AJU-?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2016</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1SFqY_JwNsqw4IwoPUViWj6mndJyx1-9x/view"
                        target="_blank">2016 Paper </a> <br>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href=" https://drive.google.com/drive/folders/1qbejvPqXPb1vZ5cmBKg8odLKvxhZHdzx?usp=sharing"
                            target="_blank">
                            &ensp;Download
                        </a> </i>

                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2015</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/13Iwk8wOXU2pt7Wj68Y1Mgo1cF-jIwpnc/view"
                        target="_blank">2015
                        Set 1 Paper </a> <br>
                    <a href="https://drive.google.com/file/d/121e7uz_qQf0iAT0eFfqEO0RearMHNE9b/view"
                        target="_blank">2015
                        Set 2 Paper </a>
                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1QPuXfwOEVnIQgp_KC4FagI_DTh74Io0G?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2014</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1yigFqmPnKW7tLsOOPVphLETH_tmWuhSk/view"
                        target="_blank">2014 Paper set - 1
                    </a><br>
                    <a href="https://drive.google.com/file/d/1tRAkX7oRUrVeYOv6oEK1CQGV9H1CxZTW/view"
                        target="_blank">2014 Paper set - 2
                    </a><br>
                    <a href="https://drive.google.com/file/d/12RnLRJwwMVGhSDVKsYQhoSLLr6UveroW/view"
                        target="_blank">2014 Paper set - 3
                    </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1aIqNRH188SnLFLQcLzCACP5ZTuKy7lra?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2013</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1IYAHB0g-wZKuT2mgDj2T9vgo6bbkbrZf/view"
                        target="_blank">2013 Paper set - 1
                    </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1povijjSh0sXtyXDIKuXcPqU_b8F1nhRc?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2012</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1Y8GYiEe04B5SCUf3DNW32iE0f3Fw4iv2/view"
                        target="_blank">2012
                        Paper </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href=" https://drive.google.com/drive/folders/1jtwLmQZJ_spj2Keam9cyEK3Zs5xYWXXh?usp=sharing"
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell first-cell">
                    <p>2011</p>
                </div>
                <div class="table-cell">
                    <a href="https://drive.google.com/file/d/1cMJwIf9d2nM5S_lr6WJxPAfQcICCB2KB/view"
                        target="_blank">2011
                        Paper </a>

                </div>
                <div class="table-cell last-cell">
                    <i class="fas fa-arrow-circle-down"> <a
                            href="https://drive.google.com/drive/folders/1MTq2Gdru49WR8MT9OO9fCN2jVz4BMN7p?usp=sharing "
                            target="_blank">
                            &ensp;Download
                        </a> </i>
                </div>
            </div>


        </div>
    </section>

    <!-- Video Suggestion starts -->

    <!-- <section class="notes-cs" id="video-cs"> -->
    <section class="video-cs notes-cs" id="video-cs">

        <!-- <h1 class="heading"> <span>Video Suggestions</span> </h1> -->
        <h1 id="note-h1"> <i class="fas fa-book-open"></i> &nbspVideo Suggestions </h1>

        <div class="swiper video-cs-slider">

            <div class="swiper-wrapper">


                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/codeWithHarry.jpg" alt="codeWithHarry">
                    </div>
                    <div class="content">
                        <h3> Code With Harry</h3>
                        <div class="topics">For coding techniques and Programming languages</div>
                        <a href="https://www.youtube.com/c/CodeWithHarry" target=" _blank" class="btn">Explore</a>
                    </div>
                </div>
                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/GA-csit.jpg" alt="Gate Academy CS-IT">
                    </div>
                    <div class="content">
                        <h3>Gate Academy CS-IT</h3>
                        <div class="topics">For all Subjects </div>
                        <a href="https://www.youtube.com/channel/UCNGPqc8IajHf8yUnFtFJ4Vg" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/gateSmasher.jpg" alt="gateSmashers">
                    </div>
                    <div class="content">
                        <h3>Gate Smashers</h3>
                        <div class="topics">For all Subjects </div>
                        <a href="https://www.youtube.com/c/GateSmashers" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/GFG.jpg" alt="GFG">
                    </div>
                    <div class="content">
                        <h3>Geeks For Geeks</h3>
                        <div class="topics">For coding techniques and Programming concepts </div>
                        <a href="https://www.youtube.com/c/GeeksforGeeksVideos" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/UnAca-cse.jpg" alt="unacademy gate">
                    </div>
                    <div class="content">
                        <h3>Unacademy Computer Science</h3>
                        <div class="topics"> For all Subjects </div>
                        <a href="https://www.youtube.com/c/UnacademyComputerScience" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/neso.jpg" alt="neso Academy">
                    </div>
                    <div class="content">
                        <h3>Neso Academy</h3>
                        <div class="topics">For all Subjects including programming concepts </div>
                        <a href="https://www.youtube.com/c/nesoacademy" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/knowledgeGATE.jpg" alt="knowledgeGATE">
                    </div>
                    <div class="content">
                        <h3>Knowledge GATE</h3>
                        <div class="topics">For all Subjects</div>
                        <a href="https://www.youtube.com/c/KNOWLEDGEGATE_kg" target="_blank" class="btn">Explore</a>
                    </div>
                </div>

                <div class="swiper-slide box">

                    <div class="image">
                        <img src="../Images/jennylect.jpg" alt="jennylect">
                    </div>
                    <div class="content">
                        <h3>Jenny's lectures CS/IT</h3>
                        <div class="topics">For all Subjects</div>
                        <a href="https://www.youtube.com/c/JennyslecturesCSITNETJRF" target="_blank"
                            class="btn">Explore</a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

 <!-- Footer section starts -->
 <section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Quick Links</h3>
            <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="/gatePage"> <i class="fas fa-arrow-right"></i> Gate </a>
            <a href="/rgpv"> <i class="fas fa-arrow-right"></i> RGPV </a>
            <a href="/donate"> <i class="fas fa-arrow-right"></i> Donate </a>
            <a href="/contactUs"> <i class="fas fa-arrow-right"></i> Contact Us</a>
            <a href="/aboutUs"> <i class="fas fa-arrow-right"></i> About Us </a>
        </div>

        <div class="box">
            <h3>Go to Other Course</h3>
            <a href="/cs-it"> <i class="fas fa-arrow-right"></i> CS IT </a>
            <a href="/eee"> <i class="fas fa-arrow-right"></i> EEE </a>
            <a href="/ece"> <i class="fas fa-arrow-right"></i> ECE</a>
            <a href="/ce"> <i class="fas fa-arrow-right"></i> CE </a>
            <a href="/me"> <i class="fas fa-arrow-right"></i> ME </a>
            <a href="/che"> <i class="fas fa-arrow-right"></i> ChE </a>
    
        </div>
    </div>
</section>

<!-- footer section ends -->


    <!-- JavaScript Bundle Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>


    <!-- Swiper js -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="../js/home.js"></script>
</body>

</html>