<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GATE </title>

     <!-- Favicon -->
     <link rel="icon" type="image/x-icon" href="../Images/favicon.png">

     <!-- Bootstrap only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

       
     <!-- custom css file link  -->
     <link rel="stylesheet" href="/css/gate.css">


</head>
<body>
     
    <!-- header section starts  -->

<header class="header1">

    <div class="header-1">

        <a href="/" class="logo"> <i class="fas fa-book"></i> <b>Study</b>Lance </a>

        <i class="fas fa-bars  icon-hide" id="bar"></i>

        <nav class="navbar1" id="navbars">
            <i class="fas fa-times icon-hide" id="crosss"></i>
            <a href="/">HOME</a>
            <!-- <a href="/rgpv" id="nav-rgpv">RGPV</a> -->
            <a href="/donate">DONATE</a>
            <a href="/contactUs">CONTACT US</a>
            <a href="/aboutUs">ABOUT US</a>
        </nav>
    </div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home-cs" id="home">

    <div class="row1">

        <div class="content1">
            
            <h2><b>GATE</b></h2>
            <h3 id="h3"> Graduate Aptitude Test in Engineering </h3>

            <h3> <b>Contents</b></h3>
           
            <a href="#gate-info" class="content-link"> <i class="fas fa-arrow-right"></i> What is GATE ?</a> <br>
            <a href="#why-gate" class="content-link"> <i class="fas fa-arrow-right"></i> Why GATE ?</a> <br>
            <a href="#pattern" class="content-link"> <i class="fas fa-arrow-right"></i> GATE Exam pattern</a>  <br>
            <a href="#syllabus" class="content-link"> <i class="fas fa-arrow-right"></i> syllabus of GATE Exam</a> <br> 
            <a href="#free" class="content-link"> <i class="fas fa-arrow-right"></i> Free Resource for GATE preparation</a> <br> 
            
        </div>
        <div class="image1 img-fluid" id="cs-image">
          <img src="../Images/Exams-bro.svg" alt="boy">

    </div>

</section>

<!-- home section end  -->


<!--  GATE info section starts -->


<section class="gate-info" id="gate-info">
   
    <div class="info1">
        <h1 class="had1"> What is GATE ? </h1> 
        <p class="para1"> GATE exam (Graduate Aptitude Test in Engineering) is a computer-based standardized test conducted at the national level in India with an aim to examine the understanding of various engineering and science undergraduate subjects. Qualifying in the GATE exam is a mandatory requirement for the engineering graduates who are seeking admissions and/or financial assistance to the Postgraduate Programs like Master's Doctoral with the Ministry of Education (MoE) and other Government Scholarships / Assistantships that are subject to the admission criteria’s of the institutes.</p>

        <p class="para1">  GATE exam results are also used by some of the Public Sector Undertakings (PSUs) for their recruitment and by several other universities in India and abroad for admissions. Some of the PSU Companies and research organizations that use the GATE exam results for providing jobs include ONGC, NTPC, GAIL, HPCL, PGCIL, BHEL, BSNL, HPCL, NHPC, BARC, DRDO, and more.</p>
    </div>

    <div class="info1 info2" id="why-gate">
        <h1 class="had1"> Benefits of GATE Exam (Why GATE?) </h1> 
        <p class="para1"> Following are a few reasons why one should appear for GATE exam:</p>

        <ul>
            <li>
                <h2> PSU Recruitment through GATE</h2> 
                <p>By qualifying GATE exam, candidates will be eligible for PSUs Recruitment. Candidates must note that the number of PSUs participating in the recruitment process are increasing, moreover, top companies are also getting involved in it.</p> 
            </li>
            <li>
                <h2> Go for Overseas to Study</h2> 
                <p>GATE exam qualified candidates can apply for studies in other countries like Germany, Singapore also. So, India is not only the limit.</p> 
            </li>
            <li>
                <h2> Go for Higher Studies (Masters and PhD Programme Admissions)</h2> 
                <p>GATE qualified can apply for admission into IITs, NITs, GFTIs, IISc and many other institutes for higher studies. Also, they can avail some reserved seats at IIMs for doctoral programme. Based on the GATE score, Institutes like IIT Bombay offers admissions to PhD., PGDM and PGDIE programmes.</p> 
            </li>
            <li>
                <h2> Go for White Collar Jobs</h2> 
                <p>GATE qualified candidates will also be able to apply for various jobs like a Professor or Asst. Professor in reputed institutes. Moreover, Scientists "C" grade jobs can also be acquired by candidates who have qualified GATE exam.

                    Direct recruitment to Group A level posts in Central government will be done on the basis of GATE score. The posts include Senior Field Officer (Tele), Senior Research Officer (Crypto) and Senior Research Officer (S&T) in Cabinet Secretariat, Government of India.</p> 
            </li>
        </ul>
    </div>
</section>

<!-- GATE Exam Pattern -->

<section class="gate-info" id="pattern"> 
    <div class="info1 info2">
        <h1 class="had1"> GATE Exam Pattern </h1> 
        <p class="para1"> GATE exam will now be conducted for 29 Subjects (GATE papers) and consists of <b>65</b> questions that will be entirely objective type (Multiple Choice Questions, Multiple Select Questions and Numerical Answer type questions over a 3-hour duration.:</p>

        <ul>
            <li>
                <h2> Multiple Choice Questions (MCQ) :</h2> 
                <p>Multiple Choice Questions carry 1 or 2 marks each, in all the GATE papers and sections. These questions will be objective, and each question will have the choice of four answers, out of which <b>ONLY ONE</b> choice is correct and 1/3 or 2/3 mark will be deducted every wrong answer.</p> 
            </li>
            <li>
                <h2> Multiple Select Questions (MSQ): </h2> 
                <p>Multiple Select Questions carry 1 or 2 marks each in all the GATE papers and sections. These questions will be objective, and each question will have the choice of four answers, out of which <b>ONE or MORE than ONE choice(s) are correct.</b></p> <br>
                <p>There is NO negative marking for a wrong answer in Multiple Select Questions (MSQ) type of questions. However, there is NO partial credit of marks given for choosing the partially correct combinations of choices or any single wrong choice.</p>
            </li>
            <li>
                <h2> Numerical Answer Type (NAT) Questions : </h2> 
                <p> Numerical Answer Type questions carry 1 or 2 marks each in most of the GATE papers and sections. For these type of questions, the answer is a <b> real number </b> that needs to be entered by the candidate with the help of virtual numeric keypad displayed on the monitor. No choices will be shown for Numerical Answer Type (NAT) Questions. The answer can be a number such as 10 or -10 (an integer only). The answer for these type of questions may also be in decimals, for example, 10.1 (one decimal) or 10.01 (two decimals) or -10.001 (three decimals). These type of questions will always be mentioned with, up to which decimal places, the candidates have to consider the answer. Also, for some NAT type of problems an appropriate range will be considered while evaluating so that the candidates are not unduly penalized for the usual round-off errors. Candidates are advised to do the rounding off at the end of the calculation (not in between steps). Wherever required and possible, it is better to give NAT answer up to a maximum of three decimal places.</p> 
            </li>
            
        </ul>
        
  </div>



</section>

<!--  GATE syllabus Redirect  -->

<section  class="gate-syllabus" id="syllabus">
    <div class="info1 info2">
    <h1 class="had1"> GATE Exam syllabus </h1>  

       <div class="alert alert-success" role="alert">
        Download GATE syllabus for your Branch from Official GATE 2022 Website  
        <a target="__blank" href="https://gate.iitkgp.ac.in/gate_syllabus.html"> &ensp; Click here </a>
      </div>
</div>
    
 </section>   


<!-- Free resource section  -->


<section class="gate-info" id="free">
    <div class="info1 info2">
    <h1 class="had1"> Free Resource for GATE preparation </h1>  

       <div>
        <p class="para1"> We provided free resource in our Website like GATE Notes , Reference Standard Books , Previous Year Question Paper With Solution and Video lectures </p> 
         <div class="btn-grp">
        <a href="/cs-it"><button type="button" class="btn btn-danger">Computer Science and Information Technology</button> </a>
        <a href="/eee"><button type="button" class="btn btn-danger">Electrical Engineering</button></a>
        <a href="/ce"><button type="button" class="btn btn-danger">Civil Engineering</button></a>
        <a href="/ece"><button type="button" class="btn btn-danger">Electronics and Communication Engineering</button></a>
        <a href="me"><button type="button" class="btn btn-danger">Mechanical Engineering</button></a>
        <a href="che"><button type="button" class="btn btn-danger">Chemical Engineering</button></a>
        </div>
    </div>
</div>
 </section> 


  <!-- Footer section starts -->
  <section class="footer" >

    <div class="box-container">

      <div class="box1">
        <h3>Quick Links</h3>
        <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
        <!-- <a href="/rgpv"> <i class="fas fa-arrow-right"></i> RGPV </a> -->
        <a href="/donate"> <i class="fas fa-arrow-right"></i> Donate </a>
        <a href="/contactUs"> <i class="fas fa-arrow-right"></i> Contact Us</a>
        <a href="/aboutUs"> <i class="fas fa-arrow-right"></i> About Us </a>
    </div>

        <div class="box1">
            <h3>Go to Other Course</h3>
            <a href="/cs-it"> <i class="fas fa-arrow-right"></i> CS-IT </a>
            <a href="/eee"> <i class="fas fa-arrow-right"></i> EEE </a>
            <a href="/ece"> <i class="fas fa-arrow-right"></i> ECE</a>
            <a href="/ce"> <i class="fas fa-arrow-right"></i> CE </a>
            <a href="/me"> <i class="fas fa-arrow-right"></i> ME </a>
            <a href="/che"> <i class="fas fa-arrow-right"></i> ChE </a>
        </div>
    </div>
</section>

<!-- footer section ends -->


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link  -->
<script src="/js/home.js"></script>
</body>
</html>
