*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;

    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem dotted #163987 ;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ced3e7;
    /* font-family: 'Montserrat', sans-serif; */
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}



section{
    padding:5rem 9%;
}

a {
    
    text-decoration: none;
}

/*  nav Links */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
    margin-right: -32%;   
}

.navbar1{
    flex:1;
    text-align: right;
}

.navbar1 a{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    border-bottom: 0px solid rgb(148, 25, 25);
    transition: 0.3s;
}

.navbar1 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px; 
}

.navbar1 a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar1 a:hover::after{
    width: 100%;
 }

 /* Logo */
 .header1 .header-1{
    background:#7900a1;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
    height: 7.0rem; 
    z-index: 1000;
    position: fixed;
    top:0; left:0; right:0;
    width: 100%;
}

.header1 .header-1 .logo{
    font-size: 2.0rem;
    font-weight: bolder;
    color:#ffffff
}

.header1 .header-1 .logo i{
    color:#ffffff;
}

/* donate form section */

.dform {
    top: 42rem;
    position: relative;
}

.description{
    width: 85%;
    margin-bottom: 2rem;
    
} 

.description h1{
    font-size: 2.3rem;
    font-weight: 600;
    color: #7900a1;
    margin-bottom: 2rem;
}

.form .para2{
    color:rgb(87, 78, 78);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.para1{
    color: #163987; font-size: 1.7rem;
}
.container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    background-color: #f8f9fb;
    display: flex;
    box-shadow: 5px 10px 38px rgba(0,0,0,0.2);
}

form{
    display: contents;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 105%;
}

.image{
    width: 45%;
}

.img {
    width: 100%;
    height: 100%;
}

.fields2{
    width: 80%;
    position: relative;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 13px;
}

.fields{
    display: flex;
    width: 80%;
    justify-content: center;
}

.f1{
    border-bottom:2px solid #b2b2b2 ;
    width: 40%;
    position: relative;
}

.f2{
    border-bottom:2px solid #b2b2b2 ;
    margin-left: auto;
    width: 50%;
    position: relative;
}

label{
    font-size: 12px;
    color: #676768;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

input{
    display: block;
    width: 100%;
    font-size: 18px;
    background: transparent;
    color: #0f0f0f;
    font-weight: 500;
    padding: 10px 0px;
    outline: none;
    border: none;
    text-transform: none;
}

/************BUTTON*****************/
.btn1{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    background: #7900a1;
    color: #fff;
    box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.329);
    transition: 0.4s;
}

.btn1:hover{
    background: #4b2888;
    color: #fff;
    letter-spacing: 2px;
}

/*************INPUT ANIMATION-SPAN********************/

.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    
}

.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #7900a1;
   
}

input:focus + .focus-input::before{
    width: 100%;
    
}
.has-val.input + .focus-input::before{
    width: 100%;
}

.focus-input2{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    
}
.focus-input2::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #7900a1;
}
input:focus + .focus-input2::before{
    width: 100%;
}
.has-val.input + .focus-input2::before{
    width: 100%;
}

.icon-hide{
    display: none;
}

/*  footer section */

.footer{
    margin-top: 6rem;
    background-color: #7900a1;
    position: relative;
    bottom: -75rem;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.4rem;
    color:#ffffff;
    padding:1rem 0;
    font-weight: 700;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:#ffffff;
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:#ffffff;
    padding-right: .5rem;
}


.footer .box-container .box a:hover i{
    padding-right: 2rem;
}


/********************RESPONSIVE***************/

@media(max-width:1000px){
    .image{
        display: none;
    }
    .form{
        width: 100%;
    }
    .container{
        width: 90%;
        height: auto;
        padding: 2rem;
    }
    .btn{
        width: 185px;
        height: 35px;
    }
}

@media (max-width:900px){

    /* html{
      font-size: 55%;
    } */
    header .navbar1 #crosss{
        position: relative;
        right: 20px;
        color: rgb(238 ,238, 238);;
    }


    header .navbar1{
        position: absolute;
        display: block;
        background:#7900a1;
        height: 100vh;
        width: 70vw;
        top: 0; right: -70vw;
        text-align: left;
        z-index: 5;
        transition: 1s;
      }
       
    
      header .navbar1 a{
        list-style: none;
        display:block;
        margin-left: -11px;
        margin-top: 9px;
        position: relative;
        border-bottom: 0px solid rgb(148, 25, 25);
        transition: 0.3s;
        color: rgb(238 ,238 ,238);
      }

    .icon-hide{
        display: block;
        font-size: 22px;
        margin : 10px;
        color: #ffffff;
        cursor: pointer;
    }
    .btn{
        width: 185px;
        height: 35px;
    }
}

@media(max-width:768px){
    html{
        font-size: 55%;
    }
}

@media(max-width:635px){

    .container{
        top: 14rem;
    }
    .fields{
        flex-direction: column;
    }
    .f1,.f2{
        width: 100%;
        margin: 0px;
    }
    .footer{
        bottom: -88rem;
    }
    .btn{
        width: 185px;
        height: 35px;
    }
}

@media(max-width:458px){
    .container{
        top:20rem;
    }
    html{
       font-size: 50%;
   }
   .footer{
       bottom: -104rem;
   }
   
    label{
       font-size: 10px;
    }
    .btn{
        
            width: 185px;
            height: 35px;
        
    }
   }

   